<!DOCTYPE html>
<html>
  <head>
    <title>Last received SMS messages</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Last received SMS messages</h1>
        <p>For phone number +4917651000254.</p> 
      </div>
      <table class="table table-hover">
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>Phone number</th>
              <th>Text</th>
            </tr>
          </thead>
          <tbody>
            {% for message in lastMessages %}
            <tr>
              <td>{{message.timestamp}}</td>
              <td>{{message.number}}</td>
              <td>{{message.text}}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
